.Dashboard-Container {
    padding-top: 10px;
}
.Dashboard-Card {
    width: 200px;
    height: 20px;
    text-align: center;
    padding: 10px;
    background-color: #26C6DA;
    color: white;
    margin: 10px;
    float: left;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #9E9E9E;
}

.Dashboard-Card-Body {
    cursor: pointer;
}

.Details-Container {
    padding-top: 20px;
    clear: left;
    padding-left: 20px;
}
