.text {
    margin-right: 10px;
    font-weight: bolder;
}

.failed {
    color: #cc0000;

}

.inprogress {
    color: #009900
}

.Details-Card {
    width: 350px;

}

.Details-Card-Header {
    color: white;
    background-color: #6A939D;
}
